<div>In Login</div>
<button type="button" class="btn btn-primary" (click)="Signin($event)" >Sign-in</button>
<button type="button" class="btn btn-primary" (click)="Register()">Register</button>

<!-- <div *ngFor="let user in users">user</div> -->

<div class="sign-in" *ngIf="displaySignIn$$ |async">
    <form ngForm (ngSubmit)="onFormSubmit()">
        <div>
            <label for="username">username:</label>
            <input type="text" id="username" name="username"  [(ngModel)]="login.UserName"    required >
        </div>
        <div>
            <label for="password">password:</label>
            <input type="text" id="password" name="password"   [(ngModel)]="login.Password" required >
        </div>
        <button type="submit">Login</button>
    </form>
    
    <button type="button" class="btn btn-primary" (click)="ResetPassword()">ResetPassword</button>
    <form #resetForm="ngForm" (ngSubmit)="resetPassword()" *ngIf="displayReset$$ |async">
        <!-- (ngSubmit)="ResetPassword()" -->
       
        <div>
          <label for="email">Enter your email to reset password:</label>
          <input type="email" id="email" name="email" [(ngModel)]="r.UserName" required>
          <label for="password">Enter your old password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="r.OldPassword" required>
          <label for="password">Enter your new password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="r.NewPassword" required>
        </div>
        <button type="submit">Reset Password</button>
      </form>
</div>


<div *ngIf="displayRegister$$ |async">
    <app-register></app-register>
</div> >


